<div id="page-content">
  <div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Hello World</h1>
    <p class="lead">This is my attemp to create some web app</p>
    <hr class="my4">
    <p>It uses utilify classes fortypography</p>
    <a class="btn btn-success btn-lg" href="" role="button">Learn more</a>
  </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>